<div class="columns">
  <div class="column">
    <h1 class="title">
      📊SmartShop
    </h1>
    <p class="subtitle">
      Track Your Inventory with Big Data
    </p>
  </div>
  <div class="column">
    <img width="200px" src="/smartshop.jpg" alt="man with clipboard">
  </div>
  <div class="column"></div>
</div>